/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root theme */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Full screen layout */
html, body, #root {
  height: 100%;
  width: 100%;
}

/* Remove Vite center alignment */
body {
  min-height: 100vh;
}